@import url ("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    * {
        box-sizing: border-box;
    }
    
    .border-box {
        width: 1280px;
        border: 8px;
        padding: 16px;
        border-color: #212429;
        background-color: #ffffff;
    }
body {
    font-family: 'Montserrat', sans-serif;

}

nav {
    font-size: 16px;
}

footer {
    font-size: 16px;
    border: #212429;
}

    

