:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: 520px;
  min-height: 100vh;
}

h2 {
  width: 250px;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid green;
  padding: 0.6em 1.2em;
  margin: 20px;
  width: 300px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease, border-color 0.25s;;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
button:hover {
  border-color: #646cff;
}

button:active {
  transform: scale(0.96);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}

.cabecera {
  display: flex;
  width: 500px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.textArea {
  width: 500px;
  height: 300px;
  font-size: 16px;
}


.divEnlacesImagenes {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.divEnlacesImagenes img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}